OPENAI_API_KEY = "sk-..."
GROQ_API_KEY = "..."
GEMINI_API_KEY = "..."
NEO4J_URI = "neo4j+s://..."
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = "..."
KB_PATH = "server/neurosymbolicAI/symbolicAI/general.pl"